@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Poiret+One&family=Press+Start+2P&family=Source+Sans+Pro:wght@200&display=swap');

.nameAndLevel > span {
    font-size: 2em;
    color: #34421c;
}
.enemyNameAndLevel > span {
    font-size: 1.5em;
    color: #34421c;
}

body{
    font-family: 'Press Start 2P';
    background-image: url(WallpaperDog-17152677.jpg);
    /* background-color: red; */
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.controlBar{
    background-color: #24282b;
    width: 100%;
    height: 221px; 
 }
 .mainMessageBox{
    background-color: #272f33;
    width: 100%;
    height: 200px; 
    margin-top: 15px;
    padding: 10px;
 }
 .yellowBG{
     height: 98%;
     width: 100%;
     background-color: #bfa551;
     border: solid #bfa551;
     border-radius: 5%;

 }
 .msgBox {
     z-index: 5;
     background-color: #324f68;
     height: 90%;
     width: 98%;
     border: solid 6px white;
     border-radius: 3%;
     margin-left: 5px;
     margin-top: 5px;
 }
 .msgBoxContent{
    margin-top: 20px;
    margin-left: 20px;
    color:white;
    font-size: 1.5em;
 }
 .combatChoice{
     z-index: 10;
    position:absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
	"fight bag"
	"pkmn run";
    /* text-align: right; */
    margin-top: -24px;
    margin-left: 700px;
    width: 550px;
    height: 200px;
    border: #66617a  10px solid;
    border-radius: 2%;
    background-color: #d4d1d2;
 }
 .fight, .bag, .pkmn, .run{
     text-align: right;
     font-size: 1.8em;
     border: none;
     font-family: 'Press Start 2P';
 }
 .enemyPokemon{
    background-color: #d2d2bb;
    width: 470px;
    height: 100px;
    border: solid 8px #3b4621;
    border-radius: 4%;
    padding: 10px;
    margin-top: 49px;
    margin-left: 68px; 
    margin-bottom: -300px;
    display: inline-block;
 }
.playerHpBar{
    width: 340px;
    height: 10px;
    margin-top: 6px;
    background-color: white;
    border: white 3px solid;
    border-radius: 6%;
    margin-left: 5px;
    display: inline-block;
}
.enemyHPanimated{
    position: absolute;
    width: 330px;
    height: 10px;
    margin-top: 6px;
    background-color: green;
    border: white 2px solid;
    border-radius: 6%;
    margin-left: 222px;
    margin-top: 107px;
    display: inline-block;
    z-index: 5; 
}
.hpLimitBox{
    position: absolute;
    width: 330px;
    height: 10px;
    margin-left: 875px;
    margin-top: 407px;
}
.playerHPanimated{
    width: 100%;
    height: 10px;
    background-color: green;
    border: white 1px solid;
    border-radius: 6%;
    display: inline-block;
    transition-property: width;
    transition-duration: 1.5s;;
}
.enemyHPBar{
    width: 340px;
    height: 10px;
    margin-top: 6px;
    background-color: white;
    border: white 2px solid;
    border-radius: 6%;
    margin-left: 5px;
    display: inline-block
}
.hpBackground {
    display: flex;
    flex-direction: row;
    border-radius: 13%;
    background-color: #4d6152;
    width: 400px;
}
.enemyHPBackground {
    display: flex;
    flex-direction: row;
    border-radius: 13%;
    background-color: #4d6152;
    width: 400px;
}
.enemyHPBackground > span {
    margin-left: 10px;
    color: orange;
    font-size: 1.6em;
}
.hpBackground > span {
    margin-left: 10px;
    color: orange;
    font-size: 1.6em;
}
.hpNumbers{
    font-size: 1.8em;
    margin-top: 25px;
}
.nameAndLevel{
    display: flex;
    justify-content: space-between;
}
.enemyNameAndLevel{
    display: flex;
    justify-content: space-between;
}
.moveStatus {
    margin-top: -200px;
    margin-left: 850px;
    width: 400px;
    height: 180px;
    border: #66617a  10px solid;
    border-radius: 2%;
    background-color: #d4d1d2;
}
.hpAndNumbersDiv{
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.enemyHPAndNubersDiv{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.moveBar{
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
	"mv1 mv2"
	"mv3 mv4";
    border: red solid;
    margin-top: 15px;
    margin-left: 10px;
    width: 815px;
    height: 180px;
    border: #66617a  10px solid;
    border-radius: 2%;
    background-color: #d4d1d2;
}

.mv1 {
    grid-area: "mv1";
}
.mv2{
    grid-area: "mv2";
}
.mv3{
    grid-area: "mv3";
}
.mv4{
    grid-area: "mv4";
}
.mv1, .mv2, .mv3, .mv4{
    text-align: right;
    font-size: 1.5em;
    border: none;
    font-family: 'Press Start 2P';
}
.currentPokemonInfo{
    z-index: 4;
    background-color: #d2d2bb;
    width: 470px;
    height: 125px;
    border: solid 8px #3b4621;
    border-radius: 4%;
    padding: 10px;
    margin-top: 207px;
    margin-left: 720px;
}
.outerWrapper{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.pokemon{
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    margin-top: -482px;
    margin-left: 300px;
}
.pokemonHit{
    z-index: 1;
    margin-left: 230px;
    position: absolute;
}
.faint{
    z-index: 0;
    position: absolute;
    opacity: 0;
    margin-top: -200px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.screen {
    border: solid black 10px;
    background-image: url(Pokemon\ FIre\ Red\ UI.png);
    height: 720px;
    min-width: 1280px;
    min-height: 720px;
    max-width: 1280px;
    max-height: 720px;
}
.leftController{
    background-image: url(left\ controller.png);
    border:black 3px solid;
    max-width: 200px;
    min-width: 200px;
}
.rightController{
    background-image: url(right_controller.png);
    border:black 3px solid;
    max-width: 200px;
    min-width: 200px;
}
button{
    cursor: pointer;
}
.up {
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 318px;
    margin-left: 76px;
    border: none;
    background-color: black;
    cursor: pointer;
}
.down {
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 425px;
    margin-left: 76px;
    border: none;
    background-color: black;
}
.left {
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 373px;
    margin-left: 23px;
    border: none;
    background-color: black;
}
.ppWrapper{
    margin-top: 20px;
    padding: 20px;
    font-size: 1.8em;
    display: flex;
    justify-content: space-between;
}
.menuButtonDiv{
    position: absolute;
    margin-top: -40px;
}
.menuButton{
    position: absolute;
   font-family: "Press Start 2P";
   font-size: 1.2em;
   width: 100px;
   height: 50px;
}
.moveTypeWrapper {
    margin-top: 50px;
    margin-left: 15px;
    font-size: 1.5em;
}
.right {
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 373px;
    margin-left: 128px;
    border: none;
    background-color: black;
}
.buttonA {
    position:absolute;
    border: #771b46 solid 1px;
    border-radius: 50%;
    color: #771b46;
    width: 60px;
    height: 60px;
    margin-top: 338px;
    margin-left: 112px;
    border: none;
    background-color: #771b46;
}
.buttonB {
    position:absolute;
    border: #771b46 solid 1px;
    border-radius: 50%;
    color: #771b46;
    width: 60px;
    height: 60px;
    margin-top: 382px;
    margin-left: 15px;
    border: none;
    background-color: #771b46;
}
.start {
    position:absolute;
    border: #6d6a73 solid 1px;
    border-radius: 25%;
    transform: rotate(64deg);
    color: #6d6a73;
    width: 15px;
    height: 63px;
    margin-top: 579px;
    margin-left:135px;
    border: none;
    background-color: #6d6a73;
}
.light {
    position:absolute;
    height: 300px;
    width: 300px;
    z-index: 5;
    margin-top: 300px;
    margin-left: 250px;
    border: white solid;
    border-radius: 50%;
    background-color: white;
    filter: blur(2.3rem);
}
.intro {
    font-size: 3em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: black;
}
.introButtons {
    margin-top: 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.combat {
    display: block;
}
.hidden {
    display: none;
}
.nameInput {
    text-align: center;
}
.combatBackground {
    width: 100%;
    height: 100%;
}
div > span {
    font-size: 1.2em;
}