@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Poiret+One&family=Press+Start+2P&family=Source+Sans+Pro:wght@200&display=swap');

.nameAndLevel > span {
    font-size: 2em;
    color: #34421c;
}
.enemyNameAndLevel > span {
    font-size: 1.5em;
    color: #34421c;
}

body{
    font-family: 'Press Start 2P';
    background-image: url(WallpaperDog-17152677.jpg);
    /* background-color: red; */
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.controlBar{
    background-color: #24282b;
    width: 100%;
    height: 221px; 
 }
 .mainMessageBox{
    background-color: #272f33;
    width: 100%;
    height: 200px; 
    margin-top: 15px;
    padding: 10px;
 }
 .bagMainMessageBox{
    background-color: #272f33;
    width: 100%;
    height: 200px; 
    margin-top: 510px;
    margin-left: -08px;
    padding: 10px; 
 }
 .yellowBG{
     height: 98%;
     width: 100%;
     background-color: #bfa551;
     border: solid #bfa551;
     border-radius: 5%;

 }
 .bagYellowBG{
    height: 98%;
    width: 100%;
    background-color: #bfa551;
    border: solid #bfa551;
    border-radius: 5%;
 }
 .msgBox {
     z-index: 5;
     background-color: #324f68;
     height: 90%;
     width: 98%;
     border: solid 6px white;
     border-radius: 3%;
     margin-left: 5px;
     margin-top: 5px;
 }
 .bagMsgBox {
    z-index: 5;
     background-color: #324f68;
     height: 90%;
     width: 98%;
     border: solid 6px white;
     border-radius: 3%;
     margin-left: 5px;
     margin-top: 5px;  
 }
 .msgBoxText {
    line-height: 150%;
 }
 .bagMenu {
     font-size: 1.3em;
    font-family: 'Press Start 2P';
     position: absolute;
     margin-left: 1085px;
     margin-top: -130px;
     width: 100px;
     height: 60px;
 }
 .bagMsgBoxText{
     margin-left: 10px;
    /* border: solid red 1px; */
    line-height: 160%;
    color: white;
    font-size: 1.7em;
 }
 .msgBoxContent{
    margin-top: 20px;
    margin-left: 20px;
    color:white;
    font-size: 1.5em;
 }
 .combatChoice{
     z-index: 10;
    position:absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
	"fight bag"
	"pkmn run";
    /* text-align: right; */
    margin-top: -24px;
    margin-left: 700px;
    width: 550px;
    height: 200px;
    border: #66617a  10px solid;
    border-radius: 2%;
    background-color: #d4d1d2;
 }
 .yesNo {
    z-index: 10;
    position:absolute;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 900px;
    width: 150px;
    height: 60px;
    border: #66617a  10px solid;
    border-radius: 2%;
    background-color: #d4d1d2; 
 }
 .yesButton{
    border: none;
    font-size: 1em;
    font-family: 'Press Start 2P';
     width: 100%
 }
 .noButton{
     border: none;
    font-size: 1em;
    font-family: 'Press Start 2P';
     width: 100%
}
 .fight, .bag, .pkmn, .run{
     text-align: right;
     font-size: 1.8em;
     border: none;
     font-family: 'Press Start 2P';
 }
 .enemyTrainer{
     position:absolute;
     margin-top: -670px;
     margin-left: 850px;
     transition-property: all;
    transition-duration: 1s;
 }
 .enemyTrainerLeave{
    position:absolute;
    margin-top: -670px;
    margin-left: 1070px;
    opacity: 0;
}
.info1{
    position: absolute;
}
 .enemyPokemon{
    background-color: #d2d2bb;
    width: 470px;
    height: 100px;
    border: solid 8px #3b4621;
    border-radius: 4%;
    padding: 10px;
    margin-top: 50px;
    margin-left: 68px; 
    margin-bottom: -300px;
    display: inline-block;
 }
.playerHpBar{
    width: 340px;
    height: 10px;
    margin-top: 6px;
    background-color: white;
    border: white 3px solid;
    border-radius: 6%;
    margin-left: 5px;
    display: inline-block; 
}
.enemyHPAnimatedContainer{
    position: absolute;
    width:330px;
    height: 10px;
}
.enemyHPanimated{
    position: absolute;
    width: 100%;
    height: 10px;
    margin-top: 6px;
    background-color: green;
    border: white 2px solid;
    border-radius: 6%;
    margin-left: 222px;
    margin-top: 107px;
    display: inline-block;
    z-index: 5; 
    transition-property: width;
    transition-duration: 1.5s;
}
.hpLimitBox{
    position: absolute;
    width: 330px;
    height: 10px;
    margin-left: 875px;
    margin-top: 407px;
}
.smallLevel1{
    pointer-events: none;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 95px;
    margin-left: 170px;
    font-size: 1.3em;
}
.smallLevel2{
    pointer-events: none;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-left: 120px;
    font-size: 1.1em;
}
.smallLevel3{
    pointer-events: none;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-left: 120px;
    font-size: 1.1em;
}
.smallLevel4{
    pointer-events: none;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-left: 120px;
    font-size: 1.1em;
}
.smallLevel5{
    pointer-events: none;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-left: 120px;
    font-size: 1.1em;
}
.smallLevel6{
    pointer-events: none;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-left: 120px;
    font-size: 1.1em;
}
.poke1Name{
    pointer-events: none;
    position: absolute;
    color: white;
    font-size: 1.8em;
    margin-left: 100px;
    margin-top: 50px;
}
.poke2Name{
    pointer-events: none;
    position: absolute;
    color: white;
    font-size: 1.4em;
    margin-left: 70px;
    margin-top: 10px;
}
.poke3Name{
    pointer-events: none;
    position: absolute;
    color: white;
    font-size: 1.4em;
    margin-left: 70px;
    margin-top: 10px;
}
.poke4Name{
    pointer-events: none;
    position: absolute;
    color: white;
    font-size: 1.4em;
    margin-left: 70px;
    margin-top: 10px;
}
.poke5Name{
    pointer-events: none;
    position: absolute;
    color: white;
    font-size: 1.4em;
    margin-left: 70px;
    margin-top: 10px;
}
.poke6Name{
    pointer-events: none;
    position: absolute;
    color: white;
    font-size: 1.4em;
    margin-left: 70px;
    margin-top: 10px;
}
.hpText1{
    position:absolute;
    color: orange;
    background-color: #4d6152;
    height: 23px;
    padding: 5px;
    margin-top: -2px;
    margin-left: -50px;
}
.hpText2{
    position:absolute;
    color: orange;
    background-color: #4d6152;
    height: 23px;
    padding: 5px;
    margin-top: -2px;
    margin-left: -50px;
}
.hpText3{
    position:absolute;
    color: orange;
    background-color: #4d6152;
    height: 23px;
    padding: 5px;
    margin-top: -2px;
    margin-left: -50px;
}
.hpText4{
    position:absolute;
    color: orange;
    background-color: #4d6152;
    height: 23px;
    padding: 5px;
    margin-top: -2px;
    margin-left: -50px;
}
.hpText5{
    position:absolute;
    color: orange;
    background-color: #4d6152;
    height: 23px;
    padding: 5px;
    margin-top: -2px;
    margin-left: -50px;
}
.hpText6{
    position:absolute;
    color: orange;
    background-color: #4d6152;
    height: 23px;
    padding: 5px;
    margin-top: -2px;
    margin-left: -50px;
}
.smallHP1{
    display:flex;
    flex-direction: row;
    margin-top: 45px;
    font-size: 1.5em;
    margin-left: 115px;
    color: white;
}
.smallHP2{
    display:flex;
    flex-direction: row;
    margin-top: 41px;
    font-size: 1.5em;
    margin-left: 115px;
    color: white;
}
.smallHP3{
    display:flex;
    flex-direction: row;
    margin-top: 41px;
    font-size: 1.5em;
    margin-left: 115px;
    color: white;
}
.smallHP4{
    display:flex;
    flex-direction: row;
    margin-top: 41px;
    font-size: 1.5em;
    margin-left: 115px;
    color: white;
}
.smallHP5{
    display:flex;
    flex-direction: row;
    margin-top: 41px;
    font-size: 1.5em;
    margin-left: 115px;
    color: white;
}
.smallHP6{
    display:flex;
    flex-direction: row;
    margin-top: 41px;
    font-size: 1.5em;
    margin-left: 115px;
    color: white;
}
.smallHPContainer1{
    pointer-events: none;
    position: absolute;
    /* border: 3px solid red; */
    width: 310px;
    margin-top: 130px;
    margin-left: 70px;
    /* background-color: orange; */
}
.smallHPContainer2{
    pointer-events: none;
    position: absolute;
    /* border: 3px solid red; */
    width: 310px;
    margin-top: 230px;
    margin-left: 170px;
    /* background-color: orange; */
}
.smallHPContainer3{
    pointer-events: none;
    position: absolute;
    /* border: 3px solid red; */
    width: 310px;
    margin-top: 230px;
    margin-left: 170px;
    /* background-color: orange; */
}
.smallHPContainer4{
    pointer-events: none;
    position: absolute;
    /* border: 3px solid red; */
    width: 310px;
    margin-top: 230px;
    margin-left: 170px;
    /* background-color: orange; */
}
.smallHPContainer5{
    pointer-events: none;
    position: absolute;
    /* border: 3px solid red; */
    width: 310px;
    margin-top: 230px;
    margin-left: 170px;
    /* background-color: orange; */
}
.smallHPContainer6{
    pointer-events: none;
    position: absolute;
    /* border: 3px solid red; */
    width: 310px;
    margin-top: 230px;
    margin-left: 170px;
    /* background-color: orange; */
}
.hpBackground2{
    display: flex;
    flex-direction: row;
    border-radius: 13%;
    width: 320px;
    height: 30px;
    margin-left: 220px;
    margin-top: -225px;
    padding: 5px;
    background-color: #4d6152;
}
.hpBackground3{
    display: flex;
    flex-direction: row;
    border-radius: 13%;
    width: 320px;
    height: 30px;
    margin-left: 220px;
    margin-top: -225px;
    padding: 5px;
    background-color: #4d6152;
}
.hpBackground4{
    display: flex;
    flex-direction: row;
    border-radius: 13%;
    width: 320px;
    height: 30px;
    margin-left: 220px;
    margin-top: -225px;
    padding: 5px;
    background-color: #4d6152;
}
.hpBackground5{
    display: flex;
    flex-direction: row;
    border-radius: 13%;
    width: 320px;
    height: 30px;
    margin-left: 220px;
    margin-top: -225px;
    padding: 5px;
    background-color: #4d6152;
}
.hpBackground6{
    display: flex;
    flex-direction: row;
    border-radius: 13%;
    width: 320px;
    height: 30px;
    margin-left: 220px;
    margin-top: -225px;
    padding: 5px;
    background-color: #4d6152;
}
.hpBackground1{
    display: flex;
    flex-direction: row;
    border-radius: 13%;
    width: 320px;
    height: 30px;
    margin-left: -5px;
    margin-top: -10px;
    padding: 5px;
    background-color: #4d6152;
}
.hpBar1{
    position: absolute;
   width: 100%;
   height: 20px;
   background-color: white;
   border: white 3px solid;
   border-radius: 6%;
}
.hpBar2{
    position: absolute;
   width: 100%;
   height: 20px;
   background-color: white;
   border: white 3px solid;
   border-radius: 6%;
}
.hpBar3{
    position: absolute;
   width: 100%;
   height: 20px;
   background-color: white;
   border: white 3px solid;
   border-radius: 6%;
}.endingScreen {
    z-index: 100;
    position: absolute;
    background-color: black;
    width: 1290px;
    height: 728px;
    opacity: 0%;
    transition-property: opacity;
    transition-duration: 3s;;
    pointer-events: none;
}
.clickStart{
    cursor: pointer;
    position: absolute;
    border: white solid 1px;
    width: 500px;
    height: 100px;
    margin-left: 210px;
    margin-top: 540px;
}
.hpBar4{
    position: absolute;
   width: 100%;
   height: 20px;
   background-color: white;
   border: white 3px solid;
   border-radius: 6%;
}
.hpBar5{
    position: absolute;
   width: 100%;
   height: 20px;
   background-color: white;
   border: white 3px solid;
   border-radius: 6%;
}
.hpBar6{
    position: absolute;
   width: 100%;
   height: 20px;
   background-color: white;
   border: white 3px solid;
   border-radius: 6%;
}
.hp1{
    margin-top: 2px;
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: green;
    border: white 1px solid;
    border-radius: 6%;
    transition-property: width;
    transition-duration: 1.5s;;
}
.hp2{
    margin-top: 2px;
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: green;
    border: white 1px solid;
    border-radius: 6%;
    transition-property: width;
    transition-duration: 1.5s;;
}
.hp3{
    margin-top: 2px;
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: green;
    border: white 1px solid;
    border-radius: 6%;
    transition-property: width;
    transition-duration: 1.5s;;
}
.hp4{
    margin-top: 2px;
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: green;
    border: white 1px solid;
    border-radius: 6%;
    transition-property: width;
    transition-duration: 1.5s;;
}
.hp5{
    margin-top: 2px;
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: green;
    border: white 1px solid;
    border-radius: 6%;
    transition-property: width;
    transition-duration: 1.5s;;
}
.hp6{
    margin-top: 2px;
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: green;
    border: white 1px solid;
    border-radius: 6%;
    transition-property: width;
    transition-duration: 1.5s;;
}
.playerHPanimated{
    width: 100%;
    height: 10px;
    margin-top: 6px;
    background-color: green;
    border: white 1px solid;
    border-radius: 6%;
    display: inline-block;
    transition-property: width;
    transition-duration: 1.5s;

}
.enemyHPBar{
    width: 340px;
    height: 10px;
    margin-top: 6px;
    background-color: white;
    border: white 2px solid;
    border-radius: 6%;
    margin-left: 5px;
    display: inline-block
}
.hpBackground {
    display: flex;
    flex-direction: row;
    border-radius: 13%;
    background-color: #4d6152;
    width: 400px;
}
.enemyHPBackground {
    display: flex;
    flex-direction: row;
    border-radius: 13%;
    background-color: #4d6152;
    width: 400px;
}
.enemyHPBackground > span {
    margin-left: 10px;
    color: orange;
    font-size: 1.6em;
}
.hpBackground > span {
    margin-left: 10px;
    color: orange;
    font-size: 1.6em;
}
.hpNumbers{
    font-size: 1.8em;
    margin-top: 25px;
}
.nameAndLevel{
    display: flex;
    justify-content: space-between;
}
.enemyNameAndLevel{
    display: flex;
    justify-content: space-between;
}
.moveStatus {
    margin-top: -200px;
    margin-left: 850px;
    width: 400px;
    height: 180px;
    border: #66617a  10px solid;
    border-radius: 2%;
    background-color: #d4d1d2;
}
.hpAndNumbersDiv{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.enemyHPAndNubersDiv{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.moveBar{
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
	"mv1 mv2"
	"mv3 mv4";
    border: red solid;
    margin-top: 15px;
    margin-left: 10px;
    width: 815px;
    height: 180px;
    border: #66617a  10px solid;
    border-radius: 2%;
    background-color: #d4d1d2;
}

.mv1 {
    grid-area: "mv1";
}
.mv2{
    grid-area: "mv2";
}
.mv3{
    grid-area: "mv3";
}
.mv4{
    grid-area: "mv4";
}
.mv1, .mv2, .mv3, .mv4{
    text-align: right;
    font-size: 1.5em;
    border: none;
    font-family: 'Press Start 2P';
}
.currentPokemonInfo{
    z-index: 4;
    background-color: #d2d2bb;
    width: 470px;
    height: 135px;
    margin-bottom: -5px;
    border: solid 8px #3b4621;
    border-radius: 4%;
    padding: 10px;
    margin-top: 200px;
    margin-left: 720px;
}
.outerWrapper{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.pokemon{
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    margin-top: -480px;
    margin-left: 300px;
}
.pokemonAttack{
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    margin-top: -480px;
    margin-left: 380px;
}
.eTrainerPokemon{
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    margin-top: -665px;
    margin-left: 800px;
}
.eTrainerPokemonAttack{
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    margin-top: -645px;
    margin-left: 730px;
}
.eTrainerPokemonHit{
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    margin-top: -645px;
    margin-left: 850px;
}
.eTrainerPokemonFaint{
    z-index: 0;
    position: absolute;
    opacity: 0;
    margin-top: -550px;
    margin-left: 800px;
}
.pokemonHit{
    z-index: 1;
    margin-left: 230px;
    position: absolute;
}
.faint{
    z-index: 0;
    position: absolute;
    opacity: 0;
    margin-top: -350px;
}
.trainer{
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: 1s;
    margin-top: -478px;
    margin-left: 350px;
}
.trainerThrow{
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    margin-top: -482px;
    margin-left: -80px;
    opacity: 0;
}
.pokeball {
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    width: 400px;
    height: 400px;
    background-color: white;
    border: white 2px solid;
    filter: blur(1.8rem);
    border-radius: 50%;
    margin-top: 300px;
    margin-left: 300px;
    pointer-events: none;
}
.epokeball {
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    width: 400px;
    height: 400px;
    background-color: white;
    border: white 2px solid;
    filter: blur(1.8rem);
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 730px;
}
.pokeballBlank {
    z-index: 0;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    width: 300px;
    height: 300px;
    background-color: white;
    border: white 2px solid;
    filter: blur(1.8rem);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.screen {
    border: solid black 10px;
    background-image: url(Pokemon\ FIre\ Red\ UI.png);
    height: 720px;
    min-width: 1280px;
    min-height: 720px;
    max-width: 1280px;
    max-height: 720px;
}
.cheatCodePopUp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    color: white;
    height: 720px;
    font-size: 1.5em;
    text-align: center;
}
.teamCancel{
    cursor: pointer;
    font-family: 'Press Start 2P';
    position: absolute;
    margin-top: 639px;
    margin-left: 1090px;
    border: none;
    background: none;
    color: white;
    font-size: 1.5em;
}
.teamCancel:hover{
    border-top: white solid;
    border-bottom: white solid;
    padding: 5px;
    margin-top: 634px;
}
.pokemon1{
    cursor: pointer;
    position: absolute;
    background-color: #4581bf;
    width: 400px;
    height: 200px;
    margin-left: 40px;
    margin-top: 110px;
    border: 10px solid #3f4057;
    /* opacity: .5; */
    border-radius: 5%;
}
.pokemon1b{
    cursor: pointer;
    background-color: #7ab6cb;
    border: 10px solid orange;
}
.pokemon2{
    cursor: pointer;
    position: absolute;
    background-color: #4581bf;
    width: 730px;
    height: 80px;
    margin-left: 520px;
    margin-top: 40px;
    border: 10px solid #3f4057;
    /* opacity: .5; */
    border-radius: 5%;
}
.pokemon3{
    cursor: pointer;
    position: absolute;
    background-color: #4581bf;
    width: 730px;
    height: 80px;
    margin-left: 520px;
    margin-top: 150px;
    border: 10px solid #3f4057;
    /* opacity: .5; */
    border-radius: 5%;
}
.pokemon4{
    cursor: pointer;
    position: absolute;
    background-color: #4581bf;
    width: 730px;
    height: 80px;
    margin-left: 520px;
    margin-top: 260px;
    border: 10px solid #3f4057;
    /* opacity: .5; */
    border-radius: 5%;
}
.pokemon5{
    cursor: pointer;
    position: absolute;
    background-color: #4581bf;
    width: 730px;
    height: 80px;
    margin-left: 520px;
    margin-top: 370px;
    border: 10px solid #3f4057;
    /* opacity: .5; */
    border-radius: 5%;
}
.pokemon6{
    cursor: pointer;
    position: absolute;
    background-color: #4581bf;
    width: 730px;
    height: 80px;
    margin-left: 520px;
    margin-top: 480px;
    border: 10px solid #3f4057;
    /* opacity: .5; */
    border-radius: 5%;
}

.pokemon2b{
    background-color: #7ab6cb;
    border: 10px solid orange;
}
.smallpic1{
    pointer-events: none;
    position: absolute;
    width: 150px;
    margin-top: -50px;
    margin-left: -50px;
}
.smallpic2{
    pointer-events: none;
    position: absolute;
    width: 150px;
    margin-top: -50px;
    margin-left: -90px;
}
.smallpic3{
    pointer-events: none;
    position: absolute;
    width: 150px;
    margin-top: -50px;
    margin-left: -110px;
}
.smallpic4{
    pointer-events: none;
    position: absolute;
    width: 150px;
    margin-top: -50px;
    margin-left: -110px;
}
.smallpic5{
    pointer-events: none;
    position: absolute;
    width: 150px;
    margin-top: -50px;
    margin-left: -110px;
}
.smallpic6{
    pointer-events: none;
    position: absolute;
    width: 150px;
    margin-top: -50px;
    margin-left: -110px;
}
.ball1{
    pointer-events: none;
    position: absolute;
    margin-top: -30px;
    margin-left: -40px;
}
.ball2{
    pointer-events: none;
    position: absolute;
    margin-top: 0px;
    margin-left: -70px;
}
.ball3{
    pointer-events: none;
    position: absolute;
    margin-top: 0px;
    margin-left: -70px;
}
.ball4{
    pointer-events: none;
    position: absolute;
    margin-top: 0px;
    margin-left: -70px;
}
.ball5{
    pointer-events: none;
    position: absolute;
    margin-top: 0px;
    margin-left: -70px;
}
.ball6{
    pointer-events: none;
    position: absolute;
    margin-top: 0px;
    margin-left: -70px;
}
.powerOn {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    height: 720px;
    margin-left: -.5px;
    min-width: 1290px;
    min-height: 730px;
    max-width: 1290px;
    max-height: 720px;
    transition-property: all;
    transition-duration: 1.5s;
}
.team {
    border: solid black 10px;
    background-image: url(chooseteam.png);
    height: 700px;
    min-width: 1280px;
    min-height: 720px;
    max-width: 1280px;
    max-height: 720px;
    margin-left: -10px;
    margin-top: -10px;
}
.buttonDiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* border: red solid 2px; */
    width: 570px;
    top: 200px;
    height: 400px;
    margin-left: 510px;
    margin-top: -135px;
}
#fullRestore {
    cursor: pointer;
    padding: 10px;
    text-align: right;
    font-size: 1.7em;
    grid-area: fullRestore;
    border: none;
    background: none;
    font-family: 'Press Start 2P';
}
#revive {
    cursor: pointer;
    font-size: 1.7em;
    padding: 10px;
    text-align: right;
    grid-area: revive;
    border: none;
    background: none;
    font-family: 'Press Start 2P';
    cursor: pointer;
}
#parHeal {
    cursor: pointer;
    font-size: 1.7em;
    padding: 10px;
    text-align: right;
    grid-area: parHeal;
    border: none;
    background: none;
    font-family: 'Press Start 2P';
    cursor: pointer;
}
#burnHeal {
    cursor: pointer;
    font-size: 1.7em;
    text-align: right;
    padding: 10px;
    grid-area: burnHeal;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Press Start 2P';
}
#unfreeze {
    cursor: pointer;
    font-size: 1.7em;
    text-align: right;
    padding: 10px;
    grid-area: unfreeze;
    border: none;
    background: none;
    font-family: 'Press Start 2P';
    cursor: pointer;
}
#awaken {
    cursor: pointer;
    font-size: 1.7em;
    text-align: right;
    padding: 10px;
    grid-area: awaken;
    border: none;
    background: none;
    font-family: 'Press Start 2P';
    cursor: pointer;
}
#confuseHeal {
    cursor: pointer;
    font-size: 1.7em;
    padding: 10px;
    text-align: right;
    grid-area: confuseHeal;
    border: none;
    background: none;
    font-family: 'Press Start 2P';
    cursor: pointer;
}
#antidote {
    cursor: pointer;
    font-size: 1.7em;
    padding: 10px;
    cursor: pointer;
    grid-area: antidote;
    border: none;
    background: none;
    font-family: 'Press Start 2P';
    text-align: right;
}
.bagScreen{
    position: absolute;
    background-image: url(boyBag.png);
    height: 720px;
    min-width: 1280px;
    min-height: 720px;
    max-width: 120px;
    max-height: 720px;
}
.power{
    color: darkgreen;
    font-family: 'Press Start 2P';
    border: none;
    border-bottom: white solid;
    background: none;
    font-size: 2.5em;
    transition-property: all;
    transition-duration: 1s;
}
.powermoved{
    margin-top: -700px;
    border: none;
    opacity: 0
}
.battleIntro{
    z-index: 10;
    opacity: 0;
    position: absolute;
    background-image: url(mChallenge1.png);
    height: 720px;
    min-width: 1280px;
    min-height: 720px;
    max-width: 1280px;
    max-height: 720px;
    transition-property: all;
    transition-duration: 1.5s;
}
.sendBack {
    z-index: -5;
}
.battleIntroFade {
    opacity: 100;
}
.boy{
    background-color: blue;
    color: white;
}
.girl{
    background-color: #f200ff;
    color: white;
}
.leftController{
    background-image: url(left\ controller.png);
    border:black 3px solid;
    max-width: 200px;
    min-width: 200px;
}
.rightController{
    background-image: url(right_controller.png);
    border:black 3px solid;
    max-width: 200px;
    min-width: 200px;
}
button{
    cursor: pointer;
}
.up {
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 318px;
    margin-left: 76px;
    border: none;
    background-color: black;
    cursor: pointer;
}
.down {
    cursor: pointer;
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 425px;
    margin-left: 76px;
    border: none;
    background-color: black;
}
.left {
    cursor: pointer;
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 373px;
    margin-left: 23px;
    border: none;
    background-color: black;
}
.ppWrapper{
    margin-top: 20px;
    padding: 20px;
    font-size: 1.8em;
    display: flex;
    justify-content: space-between;
}
.menuButtonDiv{
    position: absolute;
    margin-top: -58px;
    margin-left: 620px
}
.menuButton{
    position: absolute;
   font-family: "Press Start 2P";
   font-size: 1.2em;
   width: 100px;
   height: 50px;
}
.moveTypeWrapper {
    margin-top: 50px;
    margin-left: 15px;
    font-size: 1.5em;
}
.right {
    position:absolute;
    width: 40px;
    height: 40px;
    margin-left: 90px;
    border: none;
    background-color: black;
}
.buttonA {
    position:absolute;
    border: #771b46 solid 1px;
    border-radius: 50%;
    color: #771b46;
    width: 60px;
    height: 60px;
    margin-top: 338px;
    margin-left: 112px;
    border: none;
    background-color: #771b46;
}
.buttonB {
    position:absolute;
    border: #771b46 solid 1px;
    border-radius: 50%;
    color: #771b46;
    width: 60px;
    height: 60px;
    margin-top: 382px;
    margin-left: 15px;
    border: none;
    background-color: #771b46;
}
.start {
    position:absolute;
    border: #6d6a73 solid 1px;
    border-radius: 25%;
    transform: rotate(64deg);
    color: #6d6a73;
    width: 15px;
    height: 63px;
    margin-top: 205px;
    margin-left:100px;
    border: none;
    background-color: #6d6a73;
}
.light {
    position:absolute;
    height: 300px;
    width: 300px;
    z-index: 5;
    margin-top: 300px;
    margin-left: 250px;
    border: white solid;
    border-radius: 50%;
    background-color: white;
    filter: blur(2.3rem);
}
.intro {
    font-size: 3em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(vr.png);
    background-repeat: no-repeat;
    background-size: 27em;
}
.introButtons {
    margin-top: 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nameInput{
    font-family: 'Press Start 2P';
    width: 220px;
    height: 30px;
}
.beginGame {
    width: 490px;
    height: 70px;
    font-family: 'Press Start 2P';
    font-size: .5em;
}
.continueButton {
    font-family: 'Press Start 2P';
    width: 228px;
    height: 35px;
}
.combat {
    display: block;
}
.hidden {
    display: none;
}
.slowHidden {
    opacity: 0;
}
.nameInput {
    text-align: center;
}
.combatBackground {
    width: 100%;
    height: 100%;
}
div > span {
    font-size: 1.2em;
    /* color: white; */
}
.welcomeGif{
    height: 720px;
    min-width: 1280px;
    min-height: 720px;
    max-width: 1280px;
    max-height: 720px;
    transition-property: all;
    transition-duration: 1.5s;
}
.creditBar {
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: darkred;
    margin-top: 670px;
    height: 50px;
    width: 1280px;
    font-size: 1.3em;
    transition-property: all;
    transition-duration: 1.5s;
}
.pokeballThrown {
    opacity: 100;
    height: 50px;
    position: absolute;
    transition-property: all;
    transition-duration: 1s;
    transform: rotate(0deg);
    margin-top: -400px;
    margin-left: 460px;
    z-index: 0;
}

.epokeballThrown {
    opacity: 100;
    height: 50px;
    position: absolute;
    transition-property: all;
    transition-duration: 1s;
    transform: rotate(0deg);
    margin-top: -460px;
    margin-left: 900px;
    z-index: 0;
}
.pokeballmid {
    opacity: 100;
    height: 50px;
    position: absolute;
    transition-property: all;
    transition-duration: 1s;
    transform: rotate(0deg);
    margin-top: -400px;
    margin-left: 500px;
    z-index: 0;
    }
.pokeballEnd {
    height: 50px;
    position: absolute;
    transform: rotate(1925deg);
    margin-top: -210px;
    margin-left: 600px;
    opacity: 0;
    }
.rotated {
    transform: rotate(1905deg);
}

.pokeballThrownFade{
    opacity: 0;
}
.genderChoice{
    /* border: red solid; */
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}
.genderChoice > button {
    height: 50px;
    width: 180px;
    font-size: .5em;
    font-family: 'Press Start 2P';
text-align: center;
}
.inputName{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.introMessage{
    font-size: .6em;
    line-height: 130%;
    text-shadow: 5px 5px 2px black, 0 0 1em black,  0 .2em black;
}